* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

/* CORES */
:root{
    --corlor-header: rgb(255, 255, 255);
    --corlor-main: rgb(255, 255, 255);
    --color-letter: rgb(0, 0, 0);
}

/* FONTS */
:root{
    
}